## Данный ноутбук рассчитывает изменение цены для каждого тикера

In [1]:
import pandas as pd
from tqdm import tqdm_notebook as tqdm
import sys

### Загружаем цены акций

In [2]:
tickers = ['mgnt', 'mtss', 'gmkn', 'sngs', 'sber', 'plzl', 'chmf', 'nvtk',
       'moex', 'afks', 'yndx', 'rsti', 'urka', 'upro', 'trnf', 'tgka',
       'hydr', 'trmk', 'rolo', 'rtkm', 'rual', 'irkt', 'sibn', 'dasb',
       'gche', 'akrn', 'arsa', 'aptk', 'amez', 'phor', 'prfn', 'kbtk',
       'pikk', 'nmtp', 'nknc', 'lsrg', 'msng', 'lnta', 'gtlc', 'yakg',
       'vtbr', 'krkn', 'rosn', 'selg', 'gaza', 'fees', 'tatn', 'svav',
       'qiwi', 'rlmn', 'lkoh', 'lsng', 'iskj', 'obuv', 'aflt', 'magn',
       'gazp', 'mtlr', 'alrs', 'rasp', 'tanl']
p = pd.DataFrame()

# читаем цену 1 тикера 
for i in tickers:
    try:
        p0 = pd.read_csv(f'/is/prices/{i.upper()}.csv', sep=',', dtype = {'<DATE>': 'str'})
        if p0.shape[1] == 1:
            p0 = pd.read_csv(f'/is/prices/{i.upper()}.csv', sep=';', dtype = {'<DATE>': 'str'})
        if p0.shape[1] == 1:
            p0 = pd.read_csv(f'/is/prices/{i.upper()}.csv', sep='|', dtype = {'<DATE>': 'str'})

        ls = []
        for c in p0.columns:
            ls.append(c.lower().replace('<', '').replace('>', ''))
        p0.columns = ls
        p = pd.concat([p, p0])
    except:
        print(f"Unexpected error with {i}", sys.exc_info()[0])
p.shape

Unexpected error with urka <class 'FileNotFoundError'>
Unexpected error with obuv <class 'FileNotFoundError'>

(115793, 9)

In [3]:
p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115793 entries, 0 to 1767
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ticker  115793 non-null  object
 1   per     115793 non-null  object
 2   date    115793 non-null  object
 3   time    115793 non-null  int64
 4   open    115793 non-null  float64
 5   high    115793 non-null  float64
 6   low     115793 non-null  float64
 7   close   115793 non-null  float64
 8   vol     115793 non-null  int64
dtypes: float64(4), int64(2), object(3)
memory usage: 8.8+ MB

In [4]:
p.date = p.date.astype(str)
p['yea'] = p.date.apply(lambda x: x[:4])
p.head()

  ticker per      date  time    open    high     low   close    vol   yea
0   MGNT   D  20130108     0  4935.8  5120.5  4935.8  4983.7  96840  2013
1   MGNT   D  20130109     0  4980.0  5015.0  4890.0  4899.0  42538  2013
2   MGNT   D  20130110     0  4905.0  4959.3  4880.0  4950.0  72638  2013
3   MGNT   D  20130111     0  4965.0  5009.3  4939.5  4939.9  75072  2013
4   MGNT   D  20130114     0  4945.0  5139.8  4945.0  5118.9  73636  2013

In [5]:
p1 = p[(p.yea!='2013')&(p.yea!='2014')&(p.yea!='2015')&(p.yea!='2016')&(p.yea!='2017')&(p.yea!='2018')&(p.yea!='2019')\
  &(p.yea!='2020')&(p.yea!='2021')]
p2 = p[(p.yea=='2013')|(p.yea=='2014')|(p.yea=='2015')|(p.yea=='2016')|(p.yea=='2017')|(p.yea=='2018')|(p.yea=='2019')\
  |(p.yea=='2020')|(p.yea=='2021')]

In [6]:
p1['d'] = p1.date.apply(lambda x: x[:2])
p1['m'] = p1.date.apply(lambda x: x[2:4])
p1['y'] = p1.date.apply(lambda x: '20' + x[4:6])
p1['date2'] = p1['y'] + p1['m'] + p1['d']
p1.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,ticker,per,date,time,open,high,low,close,vol,yea,d,m,y,date2
0,SNGS,D,080113,0,27.600,28.300,27.500,28.091,32204100,0801,08,01,2013,20130108
1,SNGS,D,090113,0,28.091,28.356,28.013,28.209,21533600,0901,09,01,2013,20130109
2,SNGS,D,100113,0,28.234,28.299,27.960,27.960,7388800,1001,10,01,2013,20130110
3,SNGS,D,110113,0,27.911,28.041,27.785,27.970,10688200,1101,11,01,2013,20130111
4,SNGS,D,140113,0,28.000,28.497,28.000,28.370,17111600,1401,14,01,2013,20130114

In [7]:
p1.date = p1.date2
p.columns

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Index(['ticker', 'per', 'date', 'time', 'open', 'high', 'low', 'close', 'vol',
       'yea'],
      dtype='object')

In [8]:
p1 = p1[['ticker', 'per', 'date', 'time', 'open', 'high', 'low', 'close', 'vol']]
p1.head()

  ticker per      date  time    open    high     low   close       vol
0   SNGS   D  20130108     0  27.600  28.300  27.500  28.091  32204100
1   SNGS   D  20130109     0  28.091  28.356  28.013  28.209  21533600
2   SNGS   D  20130110     0  28.234  28.299  27.960  27.960   7388800
3   SNGS   D  20130111     0  27.911  28.041  27.785  27.970  10688200
4   SNGS   D  20130114     0  28.000  28.497  28.000  28.370  17111600

In [9]:
p2 = p2[['ticker', 'per', 'date', 'time', 'open', 'high', 'low', 'close', 'vol']]
p2.head()

  ticker per      date  time    open    high     low   close    vol
0   MGNT   D  20130108     0  4935.8  5120.5  4935.8  4983.7  96840
1   MGNT   D  20130109     0  4980.0  5015.0  4890.0  4899.0  42538
2   MGNT   D  20130110     0  4905.0  4959.3  4880.0  4950.0  72638
3   MGNT   D  20130111     0  4965.0  5009.3  4939.5  4939.9  75072
4   MGNT   D  20130114     0  4945.0  5139.8  4945.0  5118.9  73636

In [10]:
p = pd.concat([p1, p2])
p.head()

  ticker per      date  time    open    high     low   close       vol
0   SNGS   D  20130108     0  27.600  28.300  27.500  28.091  32204100
1   SNGS   D  20130109     0  28.091  28.356  28.013  28.209  21533600
2   SNGS   D  20130110     0  28.234  28.299  27.960  27.960   7388800
3   SNGS   D  20130111     0  27.911  28.041  27.785  27.970  10688200
4   SNGS   D  20130114     0  28.000  28.497  28.000  28.370  17111600

In [11]:
p.to_csv('/is/prices/mfd_price.csv', sep='|', index = False)

### Считаем изменение в ценах

In [2]:
p = pd.read_csv('/is/prices/mfd_price.csv', sep='|')
p.head()

  ticker per      date  time    open    high     low   close       vol
0   SNGS   D  20130108     0  27.600  28.300  27.500  28.091  32204100
1   SNGS   D  20130109     0  28.091  28.356  28.013  28.209  21533600
2   SNGS   D  20130110     0  28.234  28.299  27.960  27.960   7388800
3   SNGS   D  20130111     0  27.911  28.041  27.785  27.970  10688200
4   SNGS   D  20130114     0  28.000  28.497  28.000  28.370  17111600

In [3]:
def lag(df, price0='close', price1='close', n=1, date='date'):
    
    '''
    Функция сортирует поле price по полю date по убыванию.
    Возвращает значение доходности в день начала окна.
    
    ''' 
    
    if price0 == price1 and n > 0:
        return (df.sort_values(date, ascending=False)[price1].shift(n) / \
                df.sort_values(date, ascending=False)[price0] - 1) * 100
    
    elif price0 == price1 and n == 0:
        return (df.sort_values(date, ascending=False)[price1] / \
                df.sort_values(date, ascending=False)[price0].shift(-1) - 1) * 100

In [4]:
for j in [1,2,3,4,5,6,7,8,9,10, 15, 20, 25, 30, 40, 50]:
    p[f'change_close_{j}'] = None
p.head()

,ticker,per,date,time,open,high,low,close,vol,change_close_1,...,change_close_7,change_close_8,change_close_9,change_close_10,change_close_15,change_close_20,change_close_25,change_close_30,change_close_40,change_close_50
0,SNGS,D,20130108,0,27.600,28.300,27.500,28.091,32204100,None,...,None,None,None,None,None,None,None,None,None,None
1,SNGS,D,20130109,0,28.091,28.356,28.013,28.209,21533600,None,...,None,None,None,None,None,None,None,None,None,None
2,SNGS,D,20130110,0,28.234,28.299,27.960,27.960,7388800,None,...,None,None,None,None,None,None,None,None,None,None
3,SNGS,D,20130111,0,27.911,28.041,27.785,27.970,10688200,None,...,None,None,None,None,None,None,None,None,None,None
4,SNGS,D,20130114,0,28.000,28.497,28.000,28.370,17111600,None,...,None,None,None,None,None,None,None,None,None,None

In [5]:
p = p.sort_values(['ticker', 'date'], ascending=False)
pf1 = pd.DataFrame()
pf = pd.DataFrame()
for i in tqdm(p.ticker.unique(), position=0, leave=True):
    pf = p.loc[p.ticker == i]
    for j in [1,2,3,4,5,6,7,8,9,10, 15, 20, 25, 30, 40, 50]:
        pf[f'change_close_{j}'] = lag(df=pf, price0='close', price1='close', n=j)
    pf1 = pf1.append(pf)
pf1.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

HBox(children=(FloatProgress(value=0.0, max=59.0), HTML(value='')))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,ticker,per,date,time,open,high,low,close,vol,change_close_1,...,change_close_7,change_close_8,change_close_9,change_close_10,change_close_15,change_close_20,change_close_25,change_close_30,change_close_40,change_close_50
69717,YNDX,D,20210302,0,4968.4,5068.6,4960.0,5027.0,683676,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69716,YNDX,D,20210301,0,4858.6,5009.2,4820.2,5004.6,1090605,0.447588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69715,YNDX,D,20210226,0,4851.0,4875.8,4762.0,4813.2,1438926,3.976564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69714,YNDX,D,20210225,0,4945.0,4975.0,4821.0,4857.4,906961,-0.909952,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69713,YNDX,D,20210224,0,4960.0,5032.0,4901.2,4928.2,1001828,-1.436630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
pf1.tail()

,ticker,per,date,time,open,high,low,close,vol,change_close_1,...,change_close_7,change_close_8,change_close_9,change_close_10,change_close_15,change_close_20,change_close_25,change_close_30,change_close_40,change_close_50
8180,AFKS,D,20130114,0,24.921,25.289,24.650,24.700,1148100,0.566802,...,3.327935,2.825911,3.647773,5.263158,6.963563,6.882591,5.870445,3.724696,8.623482,4.506073
8179,AFKS,D,20130111,0,25.371,25.380,24.820,24.820,1520100,-0.483481,...,2.336825,2.828364,2.328767,3.146656,6.780822,5.390814,7.574537,3.759065,8.186946,5.157131
8178,AFKS,D,20130110,0,25.787,25.995,25.166,25.369,1314300,-2.164058,...,1.166778,0.122196,0.603098,0.114313,4.399070,2.491229,5.916670,-1.056407,5.837834,3.658008
8177,AFKS,D,20130109,0,25.925,26.099,25.655,25.880,820200,-1.974498,...,-0.676198,-0.830757,-1.854714,-1.383308,0.309119,0.568006,4.714065,-0.309119,2.820711,1.236476
8176,AFKS,D,20130108,0,25.623,26.300,25.404,26.000,927500,-0.461538,...,-3.769231,-1.134615,-1.288462,-2.307692,1.615385,1.153846,2.692308,0.000000,1.465385,1.884615

In [8]:
pf1[pf1.ticker=='SBER']['change_close_1'].describe()

count    2050.000000
mean        0.070800
std         1.990648
min       -17.043153
25%        -0.980439
50%         0.021744
75%         1.178018
max        12.898641
Name: change_close_1, dtype: float64

In [9]:
pf1.ticker = pf1.ticker.str.lower()
pf1.head()

,ticker,per,date,time,open,high,low,close,vol,change_close_1,...,change_close_7,change_close_8,change_close_9,change_close_10,change_close_15,change_close_20,change_close_25,change_close_30,change_close_40,change_close_50
69717,yndx,D,20210302,0,4968.4,5068.6,4960.0,5027.0,683676,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69716,yndx,D,20210301,0,4858.6,5009.2,4820.2,5004.6,1090605,0.447588,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69715,yndx,D,20210226,0,4851.0,4875.8,4762.0,4813.2,1438926,3.976564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69714,yndx,D,20210225,0,4945.0,4975.0,4821.0,4857.4,906961,-0.909952,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69713,yndx,D,20210224,0,4960.0,5032.0,4901.2,4928.2,1001828,-1.436630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# проверка
pf1.groupby('ticker')['change_close_1'].sum().sort_values(ascending=False)[:30]

ticker
prfn    562.528318
rolo    533.145211
yakg    510.409570
dasb    348.960921
tanl    343.731457
plzl    324.904362
selg    302.006804
pikk    275.462869
iskj    242.204150
irkt    227.601720
arsa    221.540464
magn    205.344416
yndx    190.663446
krkn    186.685257
gche    183.630740
rasp    178.151796
gmkn    177.244135
nvtk    169.762566
akrn    166.045032
alrs    160.048156
chmf    158.039504
nknc    156.643198
afks    151.047494
nmtp    148.317508
kbtk    147.924416
moex    147.819063
sber    145.140491
phor    142.354839
tatn    134.794677
lkoh    133.201555
Name: change_close_1, dtype: float64

In [11]:
pf1.describe()

,date,time,open,high,low,close,vol,change_close_1,change_close_2,change_close_3,...,change_close_7,change_close_8,change_close_9,change_close_10,change_close_15,change_close_20,change_close_25,change_close_30,change_close_40,change_close_50
count,1.157930e+05,115793.0,115793.000000,115793.000000,115793.000000,115793.000000,1.157930e+05,115734.000000,115675.000000,115616.000000,...,115380.000000,115321.000000,115262.000000,115203.000000,114908.000000,114613.000000,114318.000000,114023.000000,113433.000000,112843.000000
mean,2.016755e+07,0.0,3360.253748,3403.583454,3314.632839,3362.386577,6.254100e+08,0.070749,0.141295,0.212614,...,0.512250,0.586522,0.659946,0.734936,1.116557,1.487595,1.853696,2.222041,2.971118,3.700324
std,2.327595e+04,0.0,19493.150184,19741.361608,19226.304664,19504.911326,5.115057e+09,3.099304,4.511597,5.703757,...,10.173416,11.083536,11.877999,12.664962,16.303301,19.201336,21.616968,23.683595,27.355163,30.276046
min,2.013011e+07,0.0,0.003770,0.003965,0.003440,0.003780,1.000000e+00,-41.354167,-64.027778,-69.855680,...,-65.889710,-68.837644,-70.000000,-70.000000,-80.620155,-81.764706,-81.764706,-84.420000,-87.682052,-90.011751
25%,2.015032e+07,0.0,6.004000,6.130000,5.871000,6.010000,2.793000e+04,-0.996170,-1.418947,-1.746415,...,-2.703259,-2.923538,-3.083889,-3.273810,-4.051271,-4.698785,-5.308832,-5.781047,-6.720978,-7.556199
50%,2.017032e+07,0.0,73.000000,74.100000,71.880000,72.990000,5.405940e+05,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.014765,0.088889,0.120590,0.183434,0.385225,0.586782
75%,2.019031e+07,0.0,477.000000,485.000000,467.440000,477.000000,6.852710e+06,0.961538,1.401869,1.763740,...,2.899721,3.150407,3.387250,3.602257,4.594214,5.455840,6.313259,7.116307,8.495575,9.919420
max,2.021051e+07,0.0,231000.000000,235700.000000,220100.000000,231000.000000,1.868009e+11,106.202723,126.788686,173.839286,...,701.086957,742.904290,832.911392,895.945946,946.363636,1116.190476,1127.884615,1127.884615,1216.494845,1177.000000

In [12]:
pf1.to_csv('/is/prices/mfd_change_price.csv', sep='|', index = False)

In [42]:
pf1[(abs(pf1.change_close_1) > 5)|(abs(pf1.change_close_1) < 0.01)].shape

(9892, 25)

In [18]:
pf1[abs(pf1.change_close_1) < 0.05].head(30)

,ticker,per,date,time,open,high,low,close,vol,change_close_1,...,change_close_7,change_close_8,change_close_9,change_close_10,change_close_15,change_close_20,change_close_25,change_close_30,change_close_40,change_close_50
98244,yakg,D,20200117,0,32.2200,45.4600,32.0200,45.4600,972100,39.903212,...,30.576331,35.415750,27.584690,27.144743,25.692917,24.769028,25.824901,7.787066,-18.697756,16.366036
98243,yakg,D,20200116,0,32.9800,33.3400,32.0000,32.5000,35400,39.876923,...,66.153846,82.646154,89.415385,78.461538,78.153846,74.769231,76.246154,51.507692,13.661538,59.076923
98219,yakg,D,20191209,0,21.7000,24.8600,20.9800,23.7800,495500,30.529857,...,35.071489,43.145500,35.071489,28.679563,30.445753,35.576114,91.169050,139.865433,140.285955,140.538267
98177,yakg,D,20191009,0,18.6300,18.8700,16.8000,17.0900,141000,39.906378,...,37.097718,33.352838,31.363370,31.538912,22.293739,21.825629,10.122879,8.133411,17.027501,99.180807
98167,yakg,D,20190925,0,16.7800,18.4600,16.4400,17.9400,100200,39.910814,...,39.353400,29.988852,5.964326,-4.738016,35.841695,25.306577,16.499443,16.053512,3.010033,11.482720
98158,yakg,D,20190912,0,8.8200,12.3200,8.8200,12.3200,352400,39.853896,...,33.603896,36.038961,45.616883,103.733766,117.938312,94.074675,90.665584,83.603896,67.857143,52.435065
98157,yakg,D,20190911,0,8.7400,8.8700,8.7000,8.8700,2000,38.895152,...,82.976325,85.569335,88.951522,102.254791,214.317926,92.671928,174.746336,153.438557,134.723788,108.342728
97425,yakg,D,20151009,0,16.5000,16.5000,16.5000,16.5000,1000,36.363636,...,9.090909,9.090909,9.090909,9.090909,6.060606,3.030303,-3.030303,9.090909,2.424242,21.212121
97388,yakg,D,20150420,0,11.3500,11.3500,11.3500,11.3500,1000,31.718062,...,22.026432,23.788546,24.229075,40.969163,48.458150,26.431718,40.969163,62.995595,55.947137,54.185022
97386,yakg,D,20150330,0,11.1500,11.2500,11.1500,11.2500,3000,37.777778,...,44.444444,30.222222,23.111111,24.888889,54.666667,52.888889,33.333333,68.444444,100.000000,60.000000
97382,yakg,D,20150320,0,20.0000,20.0000,20.0000,20.0000,2000,-30.000000,...,-25.250000,-30.000000,-40.000000,-24.250000,-29.500000,-24.750000,-25.000000,-20.000000,-2.500000,-10.000000
97282,yakg,D,20130903,0,11.0000,11.0587,11.0000,11.0587,2000,39.256875,...,6.221346,8.510946,8.511850,17.554505,-0.530804,-9.573458,-16.805773,-0.530804,17.102372,-14.094785
97229,yakg,D,20130219,0,18.5002,19.6500,17.8000,19.3499,14000,38.494773,...,8.528209,24.031649,12.145282,3.359707,-1.808278,-4.443951,-1.808278,-19.896227,-17.312234,-33.849787
97225,yakg,D,20130213,0,28.0000,36.0000,20.4000,28.1890,200000,-38.593068,...,-18.158856,-18.407890,-18.053141,-21.955373,-23.729114,-33.307318,-34.368016,-32.597822,-54.698641,-46.787754
97222,yakg,D,20130208,0,18.2500,20.8000,16.0015,20.2599,528000,40.000197,...,-4.491631,32.274098,3.653029,13.871243,18.460604,-0.295658,-16.090405,-9.180203,-11.159976,-25.962122
97221,yakg,D,20130207,0,15.2120,15.2120,15.2120,15.2120,176000,33.183671,...,33.444649,27.201551,76.167499,38.048909,38.049566,38.048909,28.188272,21.621089,5.180121,-1.392979
97220,yakg,D,20130206,0,10.7999,11.5000,10.7999,10.8632,26000,40.032403,...,84.105052,86.865749,78.123389,146.691583,102.518595,97.915900,73.061345,70.308933,38.080860,56.482436
57588,tanl,D,20200406,0,15.5000,16.2000,15.4500,15.9000,408710,33.333333,...,8.176101,9.748428,16.981132,17.610063,14.150943,11.949686,10.691824,11.949686,7.861635,7.232704
57510,tanl,D,20191210,0,15.0000,15.0000,14.8000,15.0000,64490,39.333333,...,37.333333,36.666667,44.000000,48.666667,46.666667,50.000000,46.666667,44.000000,46.666667,42.333333
57443,tanl,D,20190905,0,13.6000,14.8000,13.6000,14.8000,1540390,39.189189,...,47.297297,38.513514,47.297297,52.027027,45.945946,31.756757,17.567568,23.648649,18.243243,-2.027027
57305,tanl,D,20190219,0,161.6000,164.5000,142.1000,151.0000,15400,39.933775,...,29.139073,30.066225,19.867550,20.596026,14.304636,11.721854,-0.662252,1.986755,-24.105960,-49.337748
57296,tanl,D,20190206,0,164.5000,219.2000,164.5000,219.2000,184260,39.917883,...,-22.445255,-24.817518,-31.113139,-3.604015,-2.828467,-21.624088,-21.304745,-22.536496,-34.762774,-50.091241
57295,tanl,D,20190205,0,114.2000,156.7000,106.4000,156.7000,352310,39.885131,...,38.481174,8.487556,5.169113,-3.637524,39.374601,16.209317,10.146777,7.657945,-1.723038,-26.866624
57294,tanl,D,20190204,0,88.0000,119.8000,55.5000,112.0000,288350,39.910714,...,60.625000,93.750000,51.785714,47.142857,114.285714,61.607143,57.142857,52.410714,13.750000,11.517857
57293,tanl,D,20190201,0,62.1000,87.4000,60.0000,86.0000,152350,30.232558,...,138.372093,109.186047,152.325581,97.674419,148.604651,128.372093,92.790698,97.441860,58.139535,47.558140
57292,tanl,D,20190131,0,60.4000,70.7000,55.5000,64.0000,52410,34.375000,...,326.562500,220.312500,181.093750,239.062500,217.812500,204.687500,171.875000,167.656250,121.875000,99.843750
57284,tanl,D,20190121,0,43.7000,43.7000,40.2000,41.7000,990,39.808153,...,43.165468,53.477218,106.235012,168.585132,554.676259,295.203837,475.539568,334.052758,309.352518,205.515588
57267,tanl,D,20181224,0,34.8000,35.0000,33.3000,33.8000,1170,37.573964,...,17.159763,17.751479,18.047337,30.177515,25.147929,118.934911,89.349112,807.396450,501.775148,414.792899
57223,tanl,D,20181022,0,49.3000,49.3000,41.2000,42.0000,8410,32.619048,...,21.190476,18.571429,21.190476,19.285714,18.809524,18.095238,14.047619,11.190476,-15.238095,-6.904762
57207,tanl,D,20180928,0,29.9000,43.3000,29.9000,43.3000,29470,39.722864,...,8.775982,20.092379,13.625866,19.168591,9.237875,20.092379,17.551963,12.702079,13.163972,2.540416