In [2]:
import pandas as pd
out=pd.DataFrame()

#### MFD
начало - max(20200101, дата первой новости, дата первой цены)

конец - min(дата последней новости, дата последней цены)

In [26]:
s = pd.read_csv('/is/prices/mfd_join_lab.csv', sep='|')
s.head(3)

,ticker,date,year,day_of_week,change_close_1,change_close_2,change_close_3,change_close_4,change_close_5,change_close_6,...,label_50_1.0,label_50_2.0,label_50_3.0,label_50_4.0,label_50_5.0,label_50_6.0,label_50_7.0,label_50_8.0,label_50_9.0,label_50_10.0
0,mgnt,20140402.0,2014,2,0.0,0.357143,-1.547619,-1.87619,-5.0,-6.785714,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,mgnt,20140402.0,2014,2,0.0,0.357143,-1.547619,-1.87619,-5.0,-6.785714,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,mgnt,20140402.0,2014,2,0.0,0.357143,-1.547619,-1.87619,-5.0,-6.785714,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
p = pd.read_csv('/is/prices/mfd_price.csv', sep='|')
p.date = p.date.astype(float) 
p.ticker = p.ticker.str.lower()
p.head()

  ticker per        date  time    open    high     low   close       vol
0   sngs   D  20130108.0     0  27.600  28.300  27.500  28.091  32204100
1   sngs   D  20130109.0     0  28.091  28.356  28.013  28.209  21533600
2   sngs   D  20130110.0     0  28.234  28.299  27.960  27.960   7388800
3   sngs   D  20130111.0     0  27.911  28.041  27.785  27.970  10688200
4   sngs   D  20130114.0     0  28.000  28.497  28.000  28.370  17111600

In [56]:
df_min = p[['date', 'ticker']][p.date>=20200101.0].groupby('ticker').min().rename(columns = {'date':'min_date_price'}).reset_index()
df_min['min_dt'] = df_min.max(axis=1)
df_min = df_min.merge(p[['ticker', 'date', 'close']].rename(columns = {'date':'min_dt'}), how='inner', on=['ticker', 'min_dt'])
df_min.head()

  ticker  min_date_price      min_dt     close
0   afks      20200103.0  20200103.0    15.134
1   aflt      20200103.0  20200103.0   103.340
2   akrn      20200103.0  20200103.0  4784.000
3   alrs      20200103.0  20200103.0    85.330
4   amez      20200103.0  20200103.0     5.000

In [57]:
df_max = p[['date', 'ticker']].groupby('ticker').max().rename(columns = {'date':'max_date_price'}).reset_index()
df_max['max_dt'] = df_max.min(axis=1)
df_max = df_max.merge(p[['ticker', 'date', 'close']].rename(columns = {'date':'max_dt'}), how='inner', on=['ticker', 'max_dt'])
df_max

   ticker  max_date_price      max_dt          close
0    afks      20210302.0  20210302.0      35.194000
1    aflt      20210302.0  20210302.0      71.100000
2    akrn      20210302.0  20210302.0    6032.000000
3    alrs      20210302.0  20210302.0     102.530000
4    amez      20210302.0  20210302.0       7.530000
5    aptk      20210302.0  20210302.0      13.720000
6    arsa      20210302.0  20210302.0       3.910000
7    chmf      20210302.0  20210302.0    1360.000000
8    dasb      20210302.0  20210302.0       0.082500
9    fees      20210302.0  20210302.0       0.214360
10   gaza      20210302.0  20210302.0     467.000000
11   gazp      20210302.0  20210302.0     222.740000
12   gche      20210302.0  20210302.0    2245.000000
13   gmkn      20210302.0  20210302.0   23774.000000
14   gtlc      20210302.0  20210302.0       0.058300
15   hydr      20210302.0  20210302.0       0.805900
16   irkt      20210302.0  20210302.0      25.580000
17   iskj      20210302.0  20210302.0      35.610000
18   kbtk      20210302.0  20210302.0     213.000000
19   krkn      20210302.0  20210302.0   13250.000000
20   lkoh      20210302.0  20210302.0    5648.500000
21   lnta      20210302.0  20210302.0     262.100000
22   lsng      20210302.0  20210302.0       5.930000
23   lsrg      20210302.0  20210302.0     854.200000
24   magn      20210302.0  20210302.0      54.965000
25   mgnt      20210302.0  20210302.0    5068.500000
26   moex      20210302.0  20210302.0     174.330000
27   msng      20210302.0  20210302.0       2.156000
28   mtlr      20210302.0  20210302.0      70.800000
29   mtss      20210302.0  20210302.0     318.900000
30   nknc      20210302.0  20210302.0      89.600000
31   nmtp      20210302.0  20210302.0       8.015000
32   nvtk      20210302.0  20210302.0    1319.000000
33   phor      20210302.0  20210302.0    4069.000000
34   pikk      20210302.0  20210302.0     778.100000
35   plzl      20210302.0  20210302.0   14505.000000
36   prfn      20210302.0  20210302.0       1.988000
37   qiwi      20210302.0  20210302.0     820.000000
38   rasp      20210302.0  20210302.0     182.000000
39   rlmn      20201113.0  20201113.0      10.000000
40   rolo      20210302.0  20210302.0       9.950000
41   rosn      20210302.0  20210302.0     526.000000
42   rsti      20210302.0  20210302.0       1.703700
43   rtkm      20210302.0  20210302.0     110.010000
44   rual      20210302.0  20210302.0      39.775000
45   sber      20210302.0  20210302.0     279.100000
46   selg      20210302.0  20210302.0      43.550000
47   sibn      20210302.0  20210302.0     346.700000
48   sngs      20210302.0  20210302.0      33.325000
49   svav      20210302.0  20210302.0     260.000000
50   tanl      20210108.0  20210108.0       7.450000
51   tatn      20210302.0  20210302.0     533.300000
52   tgka      20210506.0  20210506.0       0.012280
53   trmk      20210302.0  20210302.0      58.960000
54  trnfp      20210302.0  20210302.0  144400.000000
55   upro      20210302.0  20210302.0       2.838000
56   vtbr      20210302.0  20210302.0       0.037605
57   yakg      20210302.0  20210302.0      80.800000
58   yndx      20210302.0  20210302.0    5027.000000

In [60]:
df_max.merge(df_min, how='inner', on='ticker')

,ticker,max_date_price,max_dt,close_x,min_date_price,min_dt,close_y
0,afks,20210302.0,20210302.0,35.194000,20200103.0,20200103.0,15.13400
1,aflt,20210302.0,20210302.0,71.100000,20200103.0,20200103.0,103.34000
2,akrn,20210302.0,20210302.0,6032.000000,20200103.0,20200103.0,4784.00000
3,alrs,20210302.0,20210302.0,102.530000,20200103.0,20200103.0,85.33000
4,amez,20210302.0,20210302.0,7.530000,20200103.0,20200103.0,5.00000
5,aptk,20210302.0,20210302.0,13.720000,20200103.0,20200103.0,12.11000
6,arsa,20210302.0,20210302.0,3.910000,20200103.0,20200103.0,3.31000
7,chmf,20210302.0,20210302.0,1360.000000,20200103.0,20200103.0,945.80000
8,dasb,20210302.0,20210302.0,0.082500,20200103.0,20200103.0,0.10440
9,fees,20210302.0,20210302.0,0.214360,20200103.0,20200103.0,0.20820
10,gaza,20210302.0,20210302.0,467.000000,20200103.0,20200103.0,445.00000
11,gazp,20210302.0,20210302.0,222.740000,20200103.0,20200103.0,259.00000
12,gche,20210302.0,20210302.0,2245.000000,20200103.0,20200103.0,1768.50000
13,gmkn,20210302.0,20210302.0,23774.000000,20200103.0,20200103.0,19448.00000
14,gtlc,20210302.0,20210302.0,0.058300,20200103.0,20200103.0,0.06870
15,hydr,20210302.0,20210302.0,0.805900,20200103.0,20200103.0,0.55470
16,irkt,20210302.0,20210302.0,25.580000,20200103.0,20200103.0,34.67000
17,iskj,20210302.0,20210302.0,35.610000,20200103.0,20200103.0,13.22000
18,kbtk,20210302.0,20210302.0,213.000000,20200103.0,20200103.0,194.00000
19,krkn,20210302.0,20210302.0,13250.000000,20200103.0,20200103.0,10250.00000
20,lkoh,20210302.0,20210302.0,5648.500000,20200103.0,20200103.0,6294.00000
21,lnta,20210302.0,20210302.0,262.100000,20200103.0,20200103.0,191.80000
22,lsng,20210302.0,20210302.0,5.930000,20200103.0,20200103.0,7.04000
23,lsrg,20210302.0,20210302.0,854.200000,20200103.0,20200103.0,781.00000
24,magn,20210302.0,20210302.0,54.965000,20200103.0,20200103.0,42.54500
25,mgnt,20210302.0,20210302.0,5068.500000,20200103.0,20200103.0,3445.50000
26,moex,20210302.0,20210302.0,174.330000,20200103.0,20200103.0,107.18000
27,msng,20210302.0,20210302.0,2.156000,20200103.0,20200103.0,2.27650
28,mtlr,20210302.0,20210302.0,70.800000,20200103.0,20200103.0,62.89000
29,mtss,20210302.0,20210302.0,318.900000,20200103.0,20200103.0,322.10000
30,nknc,20210302.0,20210302.0,89.600000,20200103.0,20200103.0,100.90000
31,nmtp,20210302.0,20210302.0,8.015000,20200103.0,20200103.0,9.32000
32,nvtk,20210302.0,20210302.0,1319.000000,20200103.0,20200103.0,1264.00000
33,phor,20210302.0,20210302.0,4069.000000,20200103.0,20200103.0,2427.00000
34,pikk,20210302.0,20210302.0,778.100000,20200103.0,20200103.0,407.00000
35,plzl,20210302.0,20210302.0,14505.000000,20200103.0,20200103.0,7286.00000
36,prfn,20210302.0,20210302.0,1.988000,20200103.0,20200103.0,1.49250
37,qiwi,20210302.0,20210302.0,820.000000,20200103.0,20200103.0,1186.50000
38,rasp,20210302.0,20210302.0,182.000000,20200103.0,20200103.0,107.70000
39,rlmn,20201113.0,20201113.0,10.000000,20200103.0,20200103.0,19.65000
40,rolo,20210302.0,20210302.0,9.950000,20200103.0,20200103.0,4.08000
41,rosn,20210302.0,20210302.0,526.000000,20200103.0,20200103.0,456.90000
42,rsti,20210302.0,20210302.0,1.703700,20200103.0,20200103.0,1.41560
43,rtkm,20210302.0,20210302.0,110.010000,20200103.0,20200103.0,78.85000
44,rual,20210302.0,20210302.0,39.775000,20200103.0,20200103.0,30.60500
45,sber,20210302.0,20210302.0,279.100000,20200103.0,20200103.0,255.00000
46,selg,20210302.0,20210302.0,43.550000,20200103.0,20200103.0,12.88000
47,sibn,20210302.0,20210302.0,346.700000,20200103.0,20200103.0,425.70000
48,sngs,20210302.0,20210302.0,33.325000,20200103.0,20200103.0,51.37500
49,svav,20210302.0,20210302.0,260.000000,20200103.0,20200103.0,284.00000
50,tanl,20210108.0,20210108.0,7.450000,20200103.0,20200103.0,22.00000
51,tatn,20210302.0,20210302.0,533.300000,20200103.0,20200103.0,776.70000
52,tgka,20210506.0,20210506.0,0.012280,20200103.0,20200103.0,0.01290
53,trmk,20210302.0,20210302.0,58.960000,20200103.0,20200103.0,58.70000
54,trnfp,20210302.0,20210302.0,144400.000000,20200103.0,20200103.0,177950.00000
55,upro,20210302.0,20210302.0,2.838000,20200103.0,20200103.0,2.81100
56,vtbr,20210302.0,20210302.0,0.037605,20200103.0,20200103.0,0.04624
57,yakg,20210302.0,20210302.0,80.800000,20200103.0,20200103.0,31.18000
58,yndx,20210302.0,20210302.0,5027.000000,20200103.0,20200103.0,2685.00000

In [69]:
mfd = df_max.merge(df_min, how='inner', on='ticker')
mfd = mfd[['ticker', 'min_dt', 'max_dt', 'close_y', 'close_x']]
mfd['bh'] = (mfd.close_x / mfd.close_y - 1) * 100
mfd[['ticker', 'bh']].to_csv('/is/prices/mfd_bh.csv', sep='|', index=False)
mfd.head()

  ticker      min_dt      max_dt   close_y   close_x          bh
0   afks  20200103.0  20210302.0    15.134    35.194  132.549227
1   aflt  20200103.0  20210302.0   103.340    71.100  -31.197987
2   akrn  20200103.0  20210302.0  4784.000  6032.000   26.086957
3   alrs  20200103.0  20210302.0    85.330   102.530   20.157037
4   amez  20200103.0  20210302.0     5.000     7.530   50.600000

#### Magazines
начало - max(дата первой новости, дата первой цены)

конец - min(дата последней новости, дата последней цены)

In [3]:
p = pd.read_csv('/is/prices/mag_join_lab.csv', sep='|')

In [4]:
p.head(3)

,ticker,date,close,vol,price_init,change_close_1,change_close_2,change_close_3,change_close_4,change_close_5,...,label_50_1.0,label_50_2.0,label_50_3.0,label_50_4.0,label_50_5.0,label_50_6.0,label_50_7.0,label_50_8.0,label_50_9.0,label_50_10.0
0,afks,20150208.0,17.05,50174450.0,0.0,4.015152,4.770833,6.306818,9.248106,14.081439,...,-1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,afks,20150329.0,17.35,11615400.0,0.0,1.725799,2.739851,2.593681,2.307986,1.873630,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,afks,20150524.0,16.93,4198500.0,0.0,-0.263485,0.061510,0.208325,0.000977,-0.264462,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [5]:
p.ticker = p.ticker.str.lower()
p.head(3)

,ticker,date,close,vol,price_init,change_close_1,change_close_2,change_close_3,change_close_4,change_close_5,...,label_50_1.0,label_50_2.0,label_50_3.0,label_50_4.0,label_50_5.0,label_50_6.0,label_50_7.0,label_50_8.0,label_50_9.0,label_50_10.0
0,afks,20150208.0,17.05,50174450.0,0.0,4.015152,4.770833,6.306818,9.248106,14.081439,...,-1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,afks,20150329.0,17.35,11615400.0,0.0,1.725799,2.739851,2.593681,2.307986,1.873630,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,afks,20150524.0,16.93,4198500.0,0.0,-0.263485,0.061510,0.208325,0.000977,-0.264462,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [6]:
p = p[['ticker', 'date', 'close', 'price_init']]
p.head()

  ticker        date   close  price_init
0   afks  20150208.0  17.050         0.0
1   afks  20150329.0  17.350         0.0
2   afks  20150524.0  16.930         0.0
3   afks  20151122.0  17.530         0.0
4   afks  20160110.0  17.835         0.0

In [7]:
df_min = p[['date', 'ticker']].groupby('ticker').min().rename(columns = {'date':'min_date_price'}).reset_index()
df_min['min_dt'] = df_min.max(axis=1)
df_min = df_min.merge(p[['ticker', 'date', 'close']].rename(columns = {'date':'min_dt'}), how='inner', on=['ticker', 'min_dt'])
df_min.head()

  ticker  min_date_price      min_dt     close
0   afks      20140114.0  20140114.0    44.500
1   aflt      20140108.0  20140108.0    83.410
2   akrn      20140209.0  20140209.0  1177.800
3   aptk      20140109.0  20140109.0    19.390
4   cbom      20150810.0  20150810.0     3.655

In [8]:
df_max = p[['date', 'ticker']].groupby('ticker').max().rename(columns = {'date':'max_date_price'}).reset_index()
df_max['max_dt'] = df_max.min(axis=1)
df_max = df_max.merge(p[['ticker', 'date', 'close']].rename(columns = {'date':'max_dt'}), how='inner', on=['ticker', 'max_dt'])
df_max

   ticker  max_date_price      max_dt         close
0    afks      20201211.0  20201211.0     27.772000
1    aflt      20201218.0  20201218.0     71.400000
2    akrn      20201210.0  20201210.0   5950.000000
3    aptk      20201209.0  20201209.0     13.422000
4    aptk      20201209.0  20201209.0     13.422000
5    cbom      20201215.0  20201215.0      5.945000
6    cbom      20201215.0  20201215.0      5.945000
7    dvec      20201130.0  20201130.0      0.856000
8    five      20201222.0  20201222.0   2720.500000
9    gazp      20201224.0  20201224.0    206.240000
10   gmkn      20201225.0  20201225.0  23340.000000
11   irao      20201230.0  20201230.0      5.300000
12   kbtk      20201216.0  20201216.0    149.000000
13   kmaz      20201126.0  20201126.0     63.400000
14   lkoh      20201025.0  20201025.0   4274.000000
15   lnta      20201229.0  20201229.0    258.200000
16   magn      20201223.0  20201223.0     54.725000
17   mail      20201112.0  20201112.0   2216.600000
18   mail      20201112.0  20201112.0   2216.600000
19   mgnt      20201209.0  20201209.0   5384.000000
20   moex      20201224.0  20201224.0    160.950000
21   mtss      20201224.0  20201224.0    326.450000
22   mvid      20201211.0  20201211.0    716.500000
23   nknc      20201218.0  20201218.0     89.600000
24   nlmk      20201217.0  20201217.0    213.180000
25   nmtp      20201224.0  20201224.0      8.030000
26   nvtk      20201203.0  20201203.0   1193.200000
27   plzl      20201207.0  20201207.0  14740.000000
28   qiwi      20201208.0  20201208.0   1051.500000
29   rosb      20201214.0  20201214.0     76.800000
30   rosn      20201217.0  20201217.0    442.650000
31   rtkm      20201207.0  20201207.0     96.530000
32   rtkm      20201207.0  20201207.0     96.530000
33   rtkm      20201207.0  20201207.0     96.530000
34   rual      20201216.0  20201216.0     39.845000
35   sber      20201230.0  20201230.0    271.650000
36   svav      20201204.0  20201204.0    266.000000
37   tanl      20200609.0  20200609.0     17.050000
38   tcsg      20201224.0  20201224.0   2355.000000
39   tgkd      20201207.0  20201207.0      0.003725
40   tnse      20190718.0  20190718.0   1000.000000
41   trcn      20200406.0  20200406.0   8225.000000
42   usbn      20201204.0  20201204.0      0.068300
43   vtbr      20201225.0  20201225.0      0.037950
44   yndx      20201206.0  20201206.0   5033.700000
45   zill      20201112.0  20201112.0   2535.000000

In [9]:
tg = df_max.merge(df_min, how='inner', on='ticker')
tg = tg[['ticker', 'min_dt', 'max_dt', 'close_y', 'close_x']]
tg['bh'] = (tg.close_x / tg.close_y - 1) * 100
tg = tg.drop_duplicates()

In [11]:
tg[['ticker', 'bh']].to_csv('/is/prices/mag_bh.csv', sep='|', index=False)

#### Telegram
начало - max(дата первой новости, дата первой цены)

конец - min(дата последней новости, дата последней цены)

In [90]:
p = pd.read_csv('/is/prices/tg_join_lab.csv', sep='|')
p.head(3)

,ticker,date,open,high,low,close,vol,price_init,volatility_5,volatility_20,...,label_50_1.0,label_50_2.0,label_50_3.0,label_50_4.0,label_50_5.0,label_50_6.0,label_50_7.0,label_50_8.0,label_50_9.0,label_50_10.0
0,afks,20171217.0,10.3175,10.4325,9.2225,9.6500,91095000.0,0.0,0.455998,0.690630,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,afks,20180108.0,12.4625,12.6300,12.3625,12.5525,20899650.0,0.0,0.168239,1.383718,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0
2,afks,20180108.0,12.4625,12.6300,12.3625,12.5525,20899650.0,0.0,0.168239,1.383718,...,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0

In [91]:
p = p[['ticker', 'date', 'close', 'price_init']]
p.head()

  ticker        date    close  price_init
0   afks  20171217.0   9.6500         0.0
1   afks  20180108.0  12.5525         0.0
2   afks  20180108.0  12.5525         0.0
3   afks  20180127.0  12.1525         0.0
4   afks  20180203.0  11.9800         0.0

In [97]:
df_min = p[['date', 'ticker']].groupby('ticker').min().rename(columns = {'date':'min_date_price'}).reset_index()
df_min['min_dt'] = df_min.max(axis=1)
df_min = df_min.merge(p[['ticker', 'date', 'close']].rename(columns = {'date':'min_dt'}), how='inner', on=['ticker', 'min_dt'])
df_min.head()

  ticker  min_date_price      min_dt    close
0   afks      20170929.0  20170929.0   13.360
1   aflt      20171124.0  20171124.0  159.850
2   aflt      20171124.0  20171124.0  159.850
3   alrs      20170826.0  20170826.0   79.975
4   amez      20171017.0  20171017.0    5.440

In [98]:
df_max = p[['date', 'ticker']].groupby('ticker').max().rename(columns = {'date':'max_date_price'}).reset_index()
df_max['max_dt'] = df_max.min(axis=1)
df_max = df_max.merge(p[['ticker', 'date', 'close']].rename(columns = {'date':'max_dt'}), how='inner', on=['ticker', 'max_dt'])
df_max

    ticker  max_date_price      max_dt      close
0     afks      20210302.0  20210302.0    35.1940
1     afks      20210302.0  20210302.0    35.1940
2     afks      20210302.0  20210302.0    35.1940
3     afks      20210302.0  20210302.0    35.1940
4     afks      20210302.0  20210302.0    35.1940
..     ...             ...         ...        ...
159   zill      20210302.0  20210302.0  3355.0000
160   zill      20210302.0  20210302.0  3355.0000
161   zill      20210302.0  20210302.0  3355.0000
162   zvez      20210228.0  20210228.0     4.3925
163   zvez      20210228.0  20210228.0     4.3925

[164 rows x 4 columns]

In [103]:
tg = df_max.merge(df_min, how='inner', on='ticker')
tg = tg[['ticker', 'min_dt', 'max_dt', 'close_y', 'close_x']]
tg['bh'] = (tg.close_x / tg.close_y - 1) * 100
tg = tg.drop_duplicates()

In [106]:
tg[['ticker', 'bh']].to_csv('/is/prices/tg_bh.csv', sep='|', index=False)